{% import "macros.html" as macros %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    {{ macros::nav(active="bookings") }}

    <form class="booking" method="POST" action="/bookings/{{ booking.id }}">
      <h4>Booking {{ booking.id }}</h4>
      <p>
        Amount: {{booking.amount_cents | money}} {{booking.currency}}
      </p>
      <p>
        Date: {{booking.booking_date}}
      </p>
      <p>
        Details: {{booking.details}}
      </p>
      <p>
        Txn: {{booking.txn_id}}
      </p>

      <h3>Data</h3>

      <fieldset>
        <label>Credit:</label>
        <input name="credit_account" type="text" placeholder="credit_account" value="{{booking.credit_account}}" list="accounts">
      </fieldset>
      <fieldset>
        <label>Debit:</label>
        <input name="debit_account" type="text" placeholder="debit_account" value="{{booking.debit_account}}" list="accounts">
      </fieldset>
      <fieldset>
        <label>Comment:</label>
        <textarea name="comment" placeholder="comment">{{booking.comment}}</textarea>
      </fieldset>
      <fieldset>
        <label>Done:</label>
        <select name="done">
          <option value="true" selected>True</option>
          <option value="false">False</option>
        </select>
      </fieldset>
      <input name="bookings_query" type="hidden" value="{{bookings_query}}">

      <datalist id="accounts">
        {% for a in accounts %}
        <option value="{{a}}"></option>
        {% endfor %}
      </datalist>

      <h3>Linked Documents</h3>
      <table>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Cur</th>
          <th>Amount</th>
          <th>Sales Acc</th>
          <th>Customer Acc</th>
          <th>Company</th>
          <th class="details">Name</th>
        </tr>
        {% for d in documents %}
        <tr>
          <td><input type="checkbox" name="doc_ids[]" value="{{d.id}}"
                     {% if d.id in doc_ids %}checked{% endif %}> {{ d.kind }}-{{ d.serial_id }}</td>
          <td>{{ d.doc_date }}</td>
          <td>{{ d.currency }}</td>
          <td>{{ d.amount_cents | money }}</td>
          <td>{{ d.account }}</td>
          <td>{{ d.customer_account }}</td>
          <td>{{ d.customer_company }}</td>
          <td>{{ d.customer_name }}</td>
        </tr>
        {% endfor %}
      </table>

      <fieldset style="margin-top: 1em; margin-bottom: 2em">
        <button name="stay" value="true">Apply</button>
        <button name="stay" value="false">OK</button>
      </fieldset>
    </form>

    <h3>Documents Filter</h3>
    <div class="filter-wrapper">
      {{ macros::documents_filter(action=filter_action,q=q,bookings_query=bookings_query) }}
    </div>
  </body>
</html>
