{% import "macros.html" as macros %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    {{ macros::nav(active="bookings") }}
    
    <form class="filter" method="GET" action="/bookings">
      <fieldset>
        <input name="year" type="number" placeholder="Year" value="{{q.year}}">
        <input name="month" type="number" placeholder="Month" value="{{q.month}}">
        <input name="details" type="search" placeholder="Search" value="{{q.details}}">
        <label>
          Done:
          <select name="done">
            <option value="">All</option>
            <option value="true" {% if q.done=="true" %}selected{% endif %}>True</option>
            <option value="false" {% if q.done=="false" %}selected{% endif %}>False</option>
          </select>
        </label>
        <input type="submit" value="Filter">
      </fieldset>
    </form>

    <h3>{{ bookings_plus_docs | length }} Bookings</h3>
    
    <table>
      <tr>
        <th>Date</th>
        <th>Cur</th>
        <th>Amount</th>
        <th>Acc</th>
        <th>&rarr; Acc</th>
        <th class="details">Details</th>
        <th>Documents (BookingDocs)</th>
        <th></th>
      </tr>
      {% for b in bookings_plus_docs %}
      <tr>
        <td class="date">{{ b.booking.booking_date }}</td>
        <td>{{ b.booking.currency }}</td>
        <td>{{ b.booking.amount_cents/100.0 }}</td>
        <td>{{ b.booking.debit_account }}</td>
        <td>{{ b.booking.credit_account }}</td>
        <td class="details">{{ b.booking.details }}</td>
	      <td>
	        <ul>
            {% for d in b.docs %}
	          <li><a href="/documentimages?doc_id={{ d }}">{{ d }}</a>
            {% endfor %}
	        </ul>
        </td>
        <td>
          <a href="/bookings/{{ b.booking.id }}?bookings_query={{ bookings_query }}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <p>
      <a href="/bookings-datev?{{ query }}">DATEV Export</a>
    </p>
  </body>
</html>
