{% import "macros.html" as macros %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    {{ macros::nav(active="documents") }}
    {{ macros::documents_filter(action="/documents",q=q,bookings_query="") }}

    <table>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Cur</th>
        <th class="amt">Amount</th>
        <th>Sales Acc</th>
        <th>Customer Acc</th>
        <th>Company</th>
        <th class="details">Name</th>
        <th>Document</th>
      </tr>
      {% for d in documents %}
      <tr>
        <td>{{ d.kind }}-{{ d.serial_id }}{{ d.foreign_serial_id }}</td>
        <td class="date">{{ d.doc_date }}</td>
        <td>{{ d.currency }}</td>
        <td class="amt">{{ d.amount_cents | money }}</td>
        <td>{{ d.account }}</td>
        <td>{{ d.customer_account }}</td>
        <td>{{ d.customer_company }}</td>
        <td class="details">{{ d.customer_name }}</td>
        <td class="actions">
          <a href="/documentimages?doc_id={{ d.id }}">PDF</a>
          {% if d.kind != "receipt" %}
          <a href="/documents/{{ d.id }}">HTML</a>
          <a href="/documents/{{ d.id }}/copy">Copy</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
