{% import "macros.html" as macros %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    {{ macros::nav(active="invoices") }}
    <table>
      <tr>
        <th>ID</th>
        <th>Kind</th>
        <th>Date</th>
        <th>Cur</th>
        <th>Amount</th>
        <th>Sales Acc</th>
        <th>Customer Acc</th>
        <th>Company</th>
        <th class="details">Name</th>
        <th>Document</th>
      </tr>
      {% for i in invoices %}
      <tr>
        <td>{{ i.doc_id }}</td>
        <td>{{ i.kind }}</td>
        <td>{{ i.doc_date }}</td>
        <td>{{ i.currency }}</td>
        <td>{{ i.amount_cents/100.0 }}</td>
        <td>{{ i.account }}</td>
        <td>{{ i.customer_account }}</td>
        <td>{{ i.customer_company }}</td>
        <td>{{ i.customer_name }}</td>
        <td>
          <a href="/invoices/{{ i.doc_id }}">HTML</a>
          <a href="/invoices/{{ i.doc_id }}/copy">Copy</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
