<html>
<form method="POST" action="http://localhost:8080/invoices">
  <input type="text" name="invoice_id" value="2020-0201">
  <input type="text" name="date" value="2020-07-15">
  <input type="text" name="amount_cents" value="123456">
  <input type="text" name="currency" value="EUR">
  <input type="text" name="tax_code" value="EU16">
  <input type="text" name="payment_method" value="SEPA">
  <input type="text" name="line_items" value="[]">
  <input type="text" name="sales_account" value="sales:1">
  <input type="text" name="customer_account" value="customer:1">
  <input type="text" name="customer_name" value="Mhm Hm">
  <input type="text" name="customer_address_1" value="Fehlerstr. 8">
  <input type="text" name="customer_zip" value="12161">
  <input type="text" name="customer_city" value="Berlin">
  <input type="text" name="customer_country" value="DE">
  <input type="text" name="vat_included" value="y">
  <input type="text" name="created_at" value="2020-07-15">
  <input type="text" name="updated_at" value="2020-07-15">
  <input type="submit">
</form>
</html>
