{% macro nav(active) %}
    <nav>
      <span id="logo">
        <b><img src="/img/logo.png"> Books</b>
      </span>
      
      <span>
        {% if active == "bookings" %}
        Book
        {% else %}
        <a href="/bookings">Book</a>
        {% endif %}
      </span>
      
      <span>
        {% if active == "documents" %}
       Documents
        {% else %}
        <a href="/documents">Documents</a>
        {% endif %}
      </span>
      
      <span>
        {% if active == "document_new" %}
        New Document
        {% else %}
        <a href="/documents/new">New Document</a>
        {% endif %}
      </span>
  
    </nav>
{% endmacro input %}
